/*
  The body covers the whole page's default settings
*/
body {
    /*width:960px;*/
    margin-top:0;
    /*margin-left:100px;*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#777777;
    line-height: 1.6;
    background-image:url("../images/full-bloom.png");


}

#profile_img {
    display: inline;
  }